fastapi==0.95.1
uvicorn==0.22.0
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
SQLAlchemy==2.0.12
psycopg2==2.9.6
alembic==1.10.4
loguru==0.7.0
requests==2.30.0
aioredis==2.0.1
pydantic[email]==1.10.7
pandas==2.0.1
numpy==1.24.3
joblib==1.2.0
scikit-learn==1.2.2
xgboost==1.7.5
shap==0.41.0
matplotlib==3.7.1